.contact {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 230px;
}

.socialIcon {
    width: 45px;
    height: 45px;
    padding: 8px;
}

h3 {
    padding: 0px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
}